


.background {
    background-color:#E6E6E6;  
}
.row > .navbar {
    border-radius: 0;

}
.row > .jumbotron {
    background-color: #54C0D1;
    margin-bottom: 0px;
    border-radius: 0;
}

.posts {
    padding:3%;
    background-color: #FFF;
}

.sidebar {
        background-color: #FFF;
}